@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

body::before {
    content: '';
    width: 100%;
    height: 465px;
    display: block;
    position: absolute;
    background: #293241;
    top: 0;
    left: 0;
    z-index: -1;
}

/*Tipografia*/

.header h1, .page legend, footer input {
    font-family: 'Staatliches', cursive;
}

.header h1, .header p, .personal-info legend {
    color: #FFFFFF;
}

.header p, .input-wrapper label,.input-wrapper-mail, .check label {
    font-family: 'Poppins', sans-serif;
}

.mentorship legend, .date-info legend {
    color: #293241;
}

span {
    font-size: 12px;
    color: #C1BCCC;
}

span:hover {
    color: #293241;
}

.header {
    width: 391px;
    margin: auto;
    margin-top: 107px;
    margin-bottom: 32px;
    text-align: center;
}

.header p {
    margin-bottom: 24px;
}

.page {
    width: 750px;
    padding: 32px 64px 64px 64px;
    margin: auto;
    margin-bottom: 300px;
    background: #FFFFFF;
    border-radius: 0 0 20px 20px;
}


fieldset {
    border: none;
}

#orange {
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 133px;
    background: #F67669;
    z-index: -1;
    border-radius: 20px 20px 0 0;
}

label {
    display: inline-block;
    margin-bottom: 8px;
}

input {
    margin-bottom: 16px;
}

.personal-info legend {
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: -110px;
}

.field-name {
    display: flex;
    width: 622px;
    gap:22px
}

.field-name input {
    width: 300px;
}

.input-wrapper-mail{
    display: flex;
    flex-direction: column;
}

.input-wrapper-mail input {
    width: 622px;
    height: 55px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.input-wrapper input {
    height: 55px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.input-wrapper textarea {
    width: 622px;
    height: 166px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

input[type="email"] {
    margin-bottom: 30px;
}

.mentorship legend {
    width: 100%;
    padding-bottom: 12px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #E6E6F0;
}

.mentorship .input-wrapper input {
    width: 622px;
}

.mentorship textarea {
    margin-bottom: 30px;
}

.check {
    margin-bottom: 36px;
    position: relative;
}

.check label {
    display: flex;
    gap: 16px;
}

.check label::before {
    content: '';
    height: 24px;
    width: 24px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.check input {
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 0;
}

.check input:focus + label::before {
    outline: 2px solid #293241;
}

.check input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.date-info {
    width: 622px;
    display: flex;
    gap: 32px;
}

.date-info div {
    flex: 1;
} 

.date-info legend {
    width: 100%;
    padding-bottom: 12px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #E6E6F0;
}

.date-info .input-wrapper input, .date-info .time-field input {
    width: 100%;
}

.time-field {
    display: flex;
    gap: 10px;
}

footer input {
    width: 622px;
    height: 51px;
    margin-top: 63px;
    margin-bottom: unset;
    border: none;
    border-radius: 8px;
    background: #F67669;
    color: #FFFFFF;
    font-size: 20px;
}